__pycache__/*
.Rproj.user
output/*
nohup.out
2025-06-06_resultats_analyse.sql
__pycache__/
.Rhistory
.DS_Store
.RData
db.sqlite3
.gitignore
test_comp_mdma.csv
2025-07-22_resultats_analyse.sql
output.log