__pycache__/*
.Rproj.user
output/*
nohup.out
2025-06-06_resultats_analyse.sql
__pycache__/
.Rhistory
.DS_Store
.RData
db.sqlite3
.gitignore
.gitignore
departements_region_france.csv
population_region_2025.csv
test_comp_mdma.csv