<canvas id="{{ id|safe }}" width="400" height="400"></canvas>
 
<script>
    (function() {

        const data = JSON.parse(`{{ chart_data|safe }}`);
        window["{{ id|safe }}_chart"] = new Chart(document.getElementById('{{ id|safe }}').getContext('2d'), {
            type: 'line',
            data: {
                labels: data.labels_line,
                datasets: data.datasets_line,
                lineColor: Chart.defaults.colorPalette
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        stacked: true,
                        title: {
                            display: true,
                            text: 'Période'
                        }
                    },
                    y: {
                        stacked: '{{ is_stacked }}' === 'true',
                        beginAtZero: false,
                        title: {
                            display: true,
                            text: 'Pourcentage de pureté'
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    }
                },
                pointStyle: false,
            }
        });

    })();
</script>
