<canvas id="{{ id|safe }}" width="400" height="400"></canvas>

<script>
    (function() {
        
        const data = JSON.parse(`{{ chart_data|safe }}`);
        new Chart(document.getElementById('{{ id|safe }}').getContext('2d'), {
            type: 'pie',
            data: {
                labels: data.labels ?? data.labels_presence_coupe,
                datasets: [{
                    data: data.data ?? data.data_presence_coupe,
                    backgroundColor: Chart.defaults.colorPalette
                }]
            },
            options: {
                responsive : true,
            }
        });
        
    })();
</script>