<canvas id="{{ id|safe }}" width="400" height="400"></canvas>
 
<script>
    (function() {

        const data = JSON.parse(`{{ chart_data|safe }}`);

        window["{{ id|safe }}_chart"] = new Chart(document.getElementById('{{ id|safe }}').getContext('2d'), {
            type: 'scatter',
            data: data,
            options: {
                responsive: true,
                scales: {
                    x: {
                        min: data.min_x,
                        max: data.max_x,
                        title: {
                            display: true,
                            text: 'Masse du comprimé (mg)'
                        },
                        ticks: {
    callback: value => Math.round(value)
}},
                    x2: {
                        min: data.min_x,
                        max: data.max_x,
                        display: false
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Quantité de substance (mg)'
                        }
                    }
                }
            },
            }
        );

    })();
</script>
