<canvas id="{{ id|safe }}" width="400" height="400"></canvas>
 
<script>
    (function() {

        const data = JSON.parse(`{{ chart_data|safe }}`);

        window["{{ id|safe }}_chart"] = new Chart(document.getElementById('{{ id|safe }}').getContext('2d'), {
            type: 'scatter',
            data: data,
            options: {
                responsive: true,
                scales: {
                    x: {
                        min: 215,
                        max: 813,
                        title: {
                            display: true,
                            text: 'Masse du comprimé (mg)'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Quantité de MDMA (mg)'
                        }
                    }
                }
            },
            }
        );

    })();
</script>
