{% extends "base.html" %}

{% block title %} All molecules {% endblock %}
{% block centerText %} All molecules {% endblock %}

{% block leftPanel %} 

{% include "components/form.html" %}

{% endblock %}

{% block rightPanel %} 

<div class="card-header bg-dark text-white">
    <h5 class="mb-0">Aperçu sur le Canvas</h5>
</div>
<div class="card-body text-center">

    <p id="totalObservations">
        Nombre total d'observations : {{pie_chart_data.count}}
    </p>

    {% include "components/pie_chart.html" with id="pie_chart" chart_data=all_molecules_data%}
    {% include "components/area_stacked_chart.html" with id="area_chart_1" chart_data=all_molecules_data%}  
    {% include "components/area_stacked_chart.html" with id="area_chart_2" chart_data=area_all_molecules_data%}    
</div>

{% endblock %}