{% extends "base.html" %}

{% block body %}

    <h1>Pourquoi analyser mon produit ?</h1>
    <p> En cours de construction</p>

    Molécule
    <input > 

    Pureté 
    <div style="width: 600px; height: 400px; background-color: aqua;"></div>

    <p> Important : Il s'agit d'une estimation, nous ne pouvons que vous recommander à faire testez vos produits </p>
    <ul>
        <li> Analyse à distance : <a href="https://www.psychoactif.org/blogs/L-analyse-de-drogue-a-distance-Psychoactif-en-a-reve-et-l-a-fait_7273_2.html" target="_blank">lien vers la démarche</a></li>
        <li>CAARUD : <a href="https://www.drogues-info-service.fr/Tout-savoir-sur-les-drogues/Se-faire-aider/La-reduction-des-risques#.VJQ7Xl4A8" target="_blank"> Trouvez un CAARUD proche</a></li>
    </ul>

{% endblock %}
