{% extends "base.html" %}

{% block body %} 
<h2>
    Qui sommes-nous ?
</h2>
<p>
    Le site Psychotopia a été développé à l'initiative de deux adhérents de Psychoactif : 
    <a href="https://www.psychoactif.org/forum/profile.php?id=185396" target="_blank">Delphes</a> et Buster.
</p>
<p>
    Rien n'aurait été possible sans l'équipe de Psychoactif et le dispositif d'analyse à distance.
</p>
<p>
    Nous tenons à remercier chaleureusement Camille, ...
</p>
<h2>
    Le travail présenté est-il opensource ?
</h2>
<p>
    Tout à fait !
    Si vous souhaitez contribuer à Psychotopia ou vérifier le code, tout est disponible sur ce 
    <a href="https://github.com/TheoMalas/Stats_RdR" target="_blank">repository github</a>.
</p>
<h2>
    J'utilise Psychotopia pour mon travail de recherche ou pour une publication, comment citer ce site ?
</h2>
<p>
    Nous serions très reconnaissant que vous citiez le site.
</p>
<p>
    C'est d'ailleurs une bonne approche si vous voulez faciliter la reproductibilité de ce que vous présentez.
</p>
<p>
    Vous pouvez utiliser une phrase commme suit dans le paragraphe dédié aux remerciements:
</p>
<p>
    "Les auteurs.ices sont reconnaissants envers la plateforme Psychotopia et l'association Psychoactif pour 
    leurs ressources et leur soutien."
</p>

{% endblock %}
