{% extends "base.html" %}

{% block title %} {{molecule_name}} {% endblock %}
{% block centerText %} Statistique sur la pureté de {{molecule_name}} {% endblock %}

{% block leftPanel %} 

{% include "components/form_date.html" %}

{% endblock %}

{% block rightPanel %} 

<div class="card-header bg-dark text-white">
    <h5 class="mb-0">Aperçu sur le Canvas</h5>
</div>
<div class="card-body text-center">

    <p id="totalObservations">
        Nombre total d'observations : {{data.count}}
    </p>

    {% include "components/bar_y_chart.html" with id="bar_chart" chart_data=data%} 
    {% include "components/line_chart.html" with id="area_chart" chart_data=data is_stacked='false'%}  
    
    {% if regression_data %}
        {% include "components/regression_table.html" with id="supply_regression" table_data=regression_data %}
    {% endif %}
</div>

{% endblock %}