{% extends "base.html" %}

{% block title %} Supply {% endblock %}
{% block centerText %} Répartition des molécules {% endblock %}

{% block leftPanel %} 

{% include "components/form.html" %}

{% endblock %}

{% block rightPanel %} 

<div class="card-header bg-dark text-white">
    <h5 class="mb-0">Aperçu sur le Canvas</h5>
</div>
<div class="card-body text-center">

    <p id="totalObservations"></p>

    {% include "components/pie_chart.html" with id="pie_chart" chart_data=data%}
    {% include "components/area_stacked_chart.html" with id="area_chart" chart_data=data%}  
    
</div>

{% endblock %}