<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://www.psychoactif.org" target="_blank"><img src="https://www.psychoactif.org/images/banniere_psychoactif5.png"  alt="Logo Psychoactif"></a>
      <a class="navbar-brand" href="/">Psychotopia</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto">

        <!-- Menu déroulant -->
        <li class="nav-item">
        <a class="nav-link" href="{% url 'molecules_view' %}">Analyse par type de molécules</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'supply_view' %}">Analyse par mode d'approvisionnement</a>
        </li>

        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="cocaineDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cocaïne
          </a>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="cocaineDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_cocaine_view' %}">Pureté</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'coupe_cocaine_view' %}">Produits de coupe</a>
                </li>
          </ul>
        </li>
        
        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="mdmaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            MDMA
          </a>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="mdmaDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_mdma_view' %}">Pureté de la forme poudre</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'histo_comprime_mdma_view' %}">Dosage des comprimés</a>
                </li>
          </ul>
        </li>

        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="heroineDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Héroïne
          </a>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="heroineDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_heroine_view' %}">Pureté</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'coupe_heroine_view' %}">Produits de coupe</a>
                </li>              
                <li class="nav-item">
                <a class="nav-link" href="{% url 'sous_produit_heroine_view' %}">Sous-produit de synthèse</a>
                </li>          
          </ul>
        </li>
        
        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="3mmcDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            3-MMC
          </a>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="3mmcDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_3mmc_view' %}">Pureté</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'coupe_3mmc_view' %}">Produits de coupe</a>
                </li>     
          </ul>
        </li>
        
        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="ketamineDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Kétamine
          </a>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="ketamineDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_ketamine_view' %}">Pureté</a>
                </li>
          </ul>
        </li>

        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="speedDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Speed
          </a>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="speedDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_speed_view' %}">Pureté</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'coupe_speed_view' %}">Produits de coupe</a>
                </li>  
          </ul>
        </li>

        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="cannabisDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cannabis
          </a>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="cannabisDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_cannabis_THC_resine_view' %}">Teneur en THC de la résine</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_cannabis_THC_herbe_view' %}">Teneur en THC de l'herbe</a>
                </li>
          </ul>
        </li>
        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="2cbDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            2C-B
          </a>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="2cbDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_2cb_view' %}">Pureté de la forme poudre</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'histo_comprime_2cb_view' %}">Teneur des comprimés</a>
                </li>
          </ul>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'faq' %}">F.A.Q.</a>
        </li>
      </ul>
    </div>
  </div>
</nav>