<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Mes Données</a>
      <button id="cleanCache">cleanCache</button>
      
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto">

        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="allDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Toutes molécules
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="allDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'molecules_view' %}">Molécules</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'supply_view' %}">Supply</a>
                </li>
          </ul>
        </li>

        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="cocaineDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cocaïne
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="cocaineDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_cocaine_view' %}">Pureté cocaïne</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'cocaine_view' %}">Cocaïne coupe</a>
                </li>
          </ul>
        </li>
        
        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="mdmaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            MDMA
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="mdmaDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_mdma_view' %}">Pureté MDMA</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'histo_comprime_mdma_view' %}">Histo Comprimé MDMA</a>
                </li>
          </ul>
        </li>

        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="heroineDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Héroïne
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="heroineDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_heroine_view' %}">Pureté héroïne</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'heroine_view' %}">Héroïne coupe</a>
                </li>                
          </ul>
        </li>
        
        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="3mmcDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            3-MMC
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="3mmcDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_3mmc_view' %}">Pureté 3-MMC</a>
                </li>
          </ul>
        </li>
        
        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="ketamineDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Kétamine
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="ketamineDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_ketamine_view' %}">Pureté kétamine</a>
                </li>
          </ul>
        </li>

        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="speedDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Speed
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="speedDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_speed_view' %}">Pureté speed</a>
                </li>
          </ul>
        </li>

        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="cannabisDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cannabis
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="cannabisDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_cannabis_THC_resine_view' %}">Pourcentage THC résine</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_cannabis_THC_herbe_view' %}">Pourcentage THC herbe</a>
                </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>