<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Diagramme en camembert</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        canvas {
            border: 1px solid #dee2e6;
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" class="bi flex-shrink-0 me-2" width="24" height="24" fill="currentColor" viewBox="0 0 16 16" role="img" aria-label="Attention:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.964 0L.165 13.233c-.457.778.091 1.767.982 1.767h13.707c.89 0 1.438-.99.982-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1-2.002 0 1 1 0 0 1 2.002 0z"/>
        </svg>
        <div>
            <strong>Travail en cours&nbsp;!</strong> Certaines fonctionnalités peuvent ne pas être disponibles.
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Mes Données</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Afficher le menu">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto">

        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="allDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Toutes molécules
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="allDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'molecules_view' %}">Molécules</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'supply_view' %}">Supply</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'stacked_area_prop_all_molecules' %}">Évolution toutes molécules</a>
                </li>
          </ul>
        </li>

        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="cocaineDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cocaïne
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="cocaineDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_cocaine_view' %}">Pureté cocaïne</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'cocaine_view' %}">Cocaïne coupe</a>
                </li>
          </ul>
        </li>
        
        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="mdmaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            MDMA
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="mdmaDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_mdma_view' %}">Pureté MDMA</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'histo_comprime_mdma_view' %}">Histo Comprimé MDMA</a>
                </li>
          </ul>
        </li>

        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="heroineDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Héroïne
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="heroineDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_heroine_view' %}">Pureté héroïne</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'heroine_view' %}">Héroïne coupe</a>
                </li>                
          </ul>
        </li>
        
        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="3mmcDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            3-MMC
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="3mmcDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_3mmc_view' %}">Pureté 3-MMC</a>
                </li>
          </ul>
        </li>
        
        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="ketamineDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Kétamine
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="ketamineDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_ketamine_view' %}">Pureté kétamine</a>
                </li>
          </ul>
        </li>

        <!-- Menu déroulant -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="speedDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Speed
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="speedDropdown">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'purity_speed_view' %}">Pureté speed</a>
                </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
    <div class="container py-5">
        <h2 class="text-center mb-5">Répartition des molécules</h2>
        <div class="row g-4">
            <!-- Colonne gauche : Formulaire -->
            <div class="col-md-5">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white">
                        <h5 class="mb-0">Remplir le formulaire</h5>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="mb-3">
                                <label for="nom" class="form-label">Choisir une date de début :</label>
                                <input type="date" class="form-control" id="date_debut">
                            </div>

                            <div class="mb-3">
                                <label for="nom" class="form-label">Choisir une date de fin :</label>
                                <input type="date" class="form-control" id="date_fin">
                            </div>
                           
                            <div class="mb-1">
                                <label for="nom" class="form-label">Cathinones</label>
                                <input type="checkbox" name="famille" value="Cathinones"> 
                            </div>

                            <div class="mb-1">
                                <label for="nom" class="form-label">MDMA</label>
                                <input type="checkbox" name="famille" value="MDMA"> 
                            </div>
                            <div class="mb-1">
                                <label for="nom" class="form-label">Cocaïne</label>
                                <input type="checkbox" name="famille" value="Cocaïne"> 
                            </div>
                            
                            <div class="mb-1">
                                <label for="nom" class="form-label">Héroïne</label>
                                <input type="checkbox" name="famille" value="Héroïne">
                            </div>
                            
                            <div class="mb-1">
                                <label for="nom" class="form-label">Kétamine</label>
                                <input type="checkbox" name="famille" value="Kétamine">
                            </div>
                            
                            <div class="mb-1">
                                <label for="nom" class="form-label">Speed</label>
                                <input type="checkbox" name="famille" value="Speed">
                            </div>
                            
                            <div class="mb-1">
                                <label for="nom" class="form-label">Dissociatifs</label>
                                <input type="checkbox" name="famille" value="Dissociatifs">
                            </div>
                            <div class="mb-1">
                                <label for="nom" class="form-label">Amphétamines</label>
                                <input type="checkbox" name="famille" value="Amphétamines">
                            </div>

                            <div class="mb-1">
                                <label for="nom" class="form-label">Opioïdes</label>
                                <input type="checkbox" name="famille" value="Opioïdes"> 
                            </div>
                            <div class="mb-1">
                                <label for="nom" class="form-label">Cannabinoïdes</label>
                                <input type="checkbox" name="famille" value="Cannabinoïdes"> 
                            </div>

                            <div class="mb-1">
                                <label for="nom" class="form-label">Hallucinogènes</label>
                                <input type="checkbox" name="famille" value="Hallucinogènes">
                            </div>

                            <div class="mb-1">
                                <label for="nom" class="form-label">Crack/Freebase (cocaine base)</label>
                                <input type="checkbox" name="famille" value="Crack/Freebase (cocaine base)">
                            </div>

                            <div class="mb-1">
                                <label for="nom" class="form-label">Benzodiazépines et similaires</label>
                                <input type="checkbox" name="famille" value="Benzodiazépines_et_similaires">
                            </div>

                            <div class="mb-1">
                                <label for="nom" class="form-label">GABAergiques non benzo</label>
                                <input type="checkbox" name="famille" value="GABAergiques_non_benzo">
                            </div>
                            <div class="mb-3">
                              <label for="range_val" class="form-label">Nombre de jours pour moyenner :</label>
                              <input type="range" class="form-range" min="1" max="30" id="range_val" value="15" oninput="rangeOutput.value = range_val.value">
                              <output id="rangeOutput" class="ms-2">15</output>
                            </div>
                            <button onclick="loadChart(); loadBarChart(); loadAreaStackedChart();" class="btn btn-primary w-100">Envoyer</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Colonne droite : Canvas -->
            <div class="col-md-7">
                <div class="card shadow-sm">
                    <div class="card-header bg-dark text-white">
                        <h5 class="mb-0">Aperçu sur le Canvas</h5>
                    </div>
                    <div class="card-body text-center">
                        <p id="totalObservations"></p>
                        <canvas id="myPieChart" width="400" height="400" style="display:none"></canvas>
                        <canvas id="myBarChart" width="400" height="400" style="display:none"></canvas>
                        <canvas id="myAreaStackedChart" width="400" height="400" style="display:none"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        let pieChart = null;

        function loadChart() {
          
            
            const date_debut = document.getElementById('date_debut').value;
            const date_fin = document.getElementById('date_fin').value;
            //const url = `/chart-data/?date_debut=${encodeURIComponent(date_debut)}&date_fin=${encodeURIComponent(date_fin)}`;
            const selectedFamilles = Array.from(document.querySelectorAll('input[name="famille"]:checked'))
                                     .map(cb => cb.value);
            const params = new URLSearchParams();
            if (date_debut) params.append('date_debut', date_debut);
            if (date_fin) params.append('date_fin', date_fin);
            if (selectedFamilles.length > 0) params.append('familles', selectedFamilles.join(','));
            
            const fetchUrl = "{{ fetch_url }}";
            const url = '/' + fetchUrl + '/' + (params.toString() ? '?' + params.toString() : '');
            
            if (fetchUrl=='chart-data'||fetchUrl=='chart-data-supply'){
              fetch(url)
                  .then(response => response.json())
                  .then(data => {
                      document.getElementById('myPieChart').style.display = 'block';
                      const ctx = document.getElementById('myPieChart').getContext('2d');
                      const total = data.count;
                      document.getElementById('totalObservations').textContent =`Nombre total d'observations : ${total}`;
                      if (pieChart) {
                          pieChart.destroy(); // détruire l'ancien graphique s'il existe
                      }
  
                      pieChart = new Chart(ctx, {
                          type: 'pie',
                          data: {
                              labels: data.labels,
                              datasets: [{
                                  data: data.data,
                                  backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF'],
                              }]
                          },
                      });
                  });
              }
            if (fetchUrl=='chart-data-cocaine-coupe'||fetchUrl=='chart-data-heroine-coupe'){
              fetch(url)
                  .then(response => response.json())
                  .then(data => {
                      const ctx = document.getElementById('myPieChart').getContext('2d');
                      document.getElementById('myPieChart').style.display = 'block';
                      const total = data.count;
                      document.getElementById('totalObservations').textContent =`Nombre total d'observations : ${total}`;
                      if (pieChart) {
                          pieChart.destroy(); // détruire l'ancien graphique s'il existe
                      }
  
                      pieChart = new Chart(ctx, {
                          type: 'pie',
                          data: {
                              labels: data.labels_presence_coupe,
                              datasets: [{
                                  data: data.data_presence_coupe,
                                  backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF'],
                              }]
                          },
                      });
                  });
              
            }
        }
        let barChart = null;

        function loadBarChart() {
            const date_debut = document.getElementById('date_debut').value;
            const date_fin = document.getElementById('date_fin').value;
            //const url = `/chart-data/?date_debut=${encodeURIComponent(date_debut)}&date_fin=${encodeURIComponent(date_fin)}`;
            const selectedFamilles = Array.from(document.querySelectorAll('input[name="famille"]:checked'))
                                     .map(cb => cb.value);
            const params = new URLSearchParams();
            if (date_debut) params.append('date_debut', date_debut);
            if (date_fin) params.append('date_fin', date_fin);
            if (selectedFamilles.length > 0) params.append('familles', selectedFamilles.join(','));
            
            const fetchUrl = "{{ fetch_url }}";
            const url = '/' + fetchUrl + '/' + (params.toString() ? '?' + params.toString() : '');
  
            if (fetchUrl == 'chart-data-cocaine-coupe'||fetchUrl=='chart-data-heroine-coupe'){
              fetch(url)
                .then(response => response.json())
                .then(data => {
                  const ctx = document.getElementById('myBarChart').getContext('2d');
                  document.getElementById('myBarChart').style.display = 'block';
                if (barChart) {
                          barChart.destroy(); // détruire l'ancien graphique s'il existe
                      }
                barChart = new Chart(ctx, {
                      type: 'bar',
                      data: {
                          labels: data.labels_prod_coupe,
                          datasets: [{
                              label: 'Proportion de produits retrouvés',
                              data: data.data_prod_coupe,
                              backgroundColor: '#36A2EB',
                          }]
                      },
                      options: {
                          indexAxis: 'y', // Affiche les barres horizontalement
                          responsive: true,
                          scales: {
                              x: {
                                  beginAtZero: true,
                                  title: {
                                      display: true,
                                      text: 'Proportion'
                                  }
                              },
                              y: {
                                  title: {
                                      display: true,
                                      text: 'Produits'
                                  }
                              }
                          },
                          plugins: {
                              legend: {
                                  display: false // Si tu veux juste un titre simple
                              }
                           }
                      }
                });
                });
            }
            if (fetchUrl == 'chart-purity-cocaine'||fetchUrl == 'chart-purity-heroine'||fetchUrl == 'chart-purity-mdma'||fetchUrl == 'chart-purity-3mmc'||fetchUrl == 'chart-purity-ketamine'||fetchUrl == 'chart-purity-speed'|| fetchUrl == 'chart-histo-comprime-mdma'){
              fetch(url)
                .then(response => response.json())
                .then(data => {
                  const ctx = document.getElementById('myBarChart').getContext('2d');
                  document.getElementById('myBarChart').style.display = 'block';
                  const total = data.count;
                  document.getElementById('totalObservations').textContent =`Nombre total d'observations : ${total}`;
                if (barChart) {
                          barChart.destroy(); // détruire l'ancien graphique s'il existe
                      }
                barChart = new Chart(ctx, {
                      type: 'bar',
                      data: {
                          labels: data.labels,
                          datasets: [{
                              label: 'Proportion de produits retrouvés',
                              data: data.data,
                              backgroundColor: '#36A2EB',
                          }]
                      },
                      options: {
                          responsive: true,
                          scales: {
                              x: {
                                  beginAtZero: true,
                                  title: {
                                      display: true,
                                      text: fetchUrl=='chart-histo-comprime-mdma' ? 'Dosage des comprimés (mg)' : 'Pourcentage de pureté'
                                  }
                              },
                              y: {
                                  title: {
                                      display: true,
                                      text: 'Occurences'
                                  }
                              }
                          },
                          plugins: {
                              legend: {
                                  display: false // Si tu veux juste un titre simple
                              }
                           }
                      }
                });
                });
            }
        }

        let areaStackedChart = null;

        function loadAreaStackedChart() {
            const date_debut = document.getElementById('date_debut').value;
            const date_fin = document.getElementById('date_fin').value;
            const range = document.getElementById('range_val').value;
            //const url = `/chart-data/?date_debut=${encodeURIComponent(date_debut)}&date_fin=${encodeURIComponent(date_fin)}`;
            const selectedFamilles = Array.from(document.querySelectorAll('input[name="famille"]:checked'))
                                     .map(cb => cb.value);
            const params = new URLSearchParams();
            if (date_debut) params.append('date_debut', date_debut);
            if (date_fin) params.append('date_fin', date_fin);
            if (range) params.append('range', range);
            if (selectedFamilles.length > 0) params.append('familles', selectedFamilles.join(','));
            const colors = ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF'];
            const fetchUrl = "{{ fetch_url }}";
            const url = '/' + fetchUrl + '/' + (params.toString() ? '?' + params.toString() : '');
            
            
            if (fetchUrl=='chart-stacked-area-prop-all-molecules'||fetchUrl=='chart-data-supply'||fetchUrl=='chart-data'||fetchUrl=='chart-data-cocaine-coupe'||fetchUrl=='chart-data-heroine-coupe'){
              fetch(url)
                  .then(response => response.json())
                  .then(data => {
                    
                    
                  const ctx = document.getElementById('myAreaStackedChart').getContext('2d');
                  document.getElementById('myAreaStackedChart').style.display = 'block';
                  const total = data.count;
                  document.getElementById('totalObservations').textContent =`Nombre total d'observations : ${total}`;
                  if (areaStackedChart) {
                            areaStackedChart.destroy(); // détruire l'ancien graphique s'il existe
                        }
                  areaStackedChart = new Chart(ctx, {
                      type: 'line',
                      data: {
                        labels: data.labels_area,
                        datasets: data.datasets_area
                          },
                      options: {
                          responsive: true,
                          scales: {
                              x: {
                                  stacked: true,
                                  title: {
                                      display: true,
                                      text: 'Période'
                                  }
                              },
                              y: {
                                  stacked: true,
                                  beginAtZero: true,
                                  title: {
                                      display: true,
                                      text: 'Proportion'
                                  }
                              }
                          },
                          plugins: {
                              legend: {
                                  display: true
                              }
                          }
                      }
                  });
              });
            }
            console.log(fetchUrl)
            if (fetchUrl == 'chart-purity-cocaine'||fetchUrl == 'chart-purity-heroine'||fetchUrl == 'chart-purity-mdma'||fetchUrl == 'chart-purity-3mmc'||fetchUrl == 'chart-purity-ketamine'||fetchUrl == 'chart-purity-speed'|| fetchUrl == 'chart-histo-comprime-mdma'){
              fetch(url)
                  .then(response => response.json())
                  .then(data => {
                    
                    
                  const ctx = document.getElementById('myAreaStackedChart').getContext('2d');
                  document.getElementById('myAreaStackedChart').style.display = 'block';
                  const total = data.count;
                  document.getElementById('totalObservations').textContent =`Nombre total d'observations : ${total}`;
                  if (areaStackedChart) {
                            areaStackedChart.destroy(); // détruire l'ancien graphique s'il existe
                        }
                  areaStackedChart = new Chart(ctx, {
                      type: 'line',
                      data: {
                        labels: data.labels_line,
                        datasets: data.datasets_line
                          },
                      options: {
                          responsive: true,
                          scales: {
                              x: {
                                  stacked: true,
                                  title: {
                                      display: true,
                                      text: 'Période'
                                  }
                              },
                              y: {
                                  stacked: true,
                                  beginAtZero: false,
                                  title: {
                                      display: true,
                                      text: fetchUrl=='chart-histo-comprime-mdma' ? 'Dosage des comprimés (mg)' : 'Pourcentage de pureté'
                                  }
                              }
                          },
                          plugins: {
                              legend: {
                                  display: false
                              }
                          }
                      }
                  });
              });
            }
        }

        // Optionnel : charger un graphique par défaut à l'ouverture
        window.onload = () => {
    loadChart();
    loadBarChart();
    loadAreaStackedChart()
};
    </script>
</body>
</html>